// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// $background-color:  #4b4b4b;
$background-color: #fff;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  background-color: $background-color;
  box-shadow: inset 0px 0px 60px 10px rgba(0,0,0,0.2);
}
